.section {
  display: inline-block;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.title {
  text-transform: uppercase;
  font-size: 18px;
}
.list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
